<h1>Usuários</h1>
<table>
    <thead>
        <td>Nome</td>
        <td>Data de Nascimento</td>
        <td>E-mail</td>
        <td>Sexo</td>
        <td>Ativo</td>
        <td>Editar</td>
        <td>Excluir</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users.data"> 
            <td>user.name</td>
            <td>user.name</td>
            <td>user.name</td>
            <td>user.name</td>
            <td>user.name</td>
            <td>user.name</td>
            <td>user.name</td>
        </tr>
    </tbody>
</table>